@charset "UTF-8";
/* CSS Document */

@import url("rwd.css");


*{
	padding:0;
	margin:0;
}


.work{
	position: fixed;
	top: 160px;
	left: 10px;
	z-index: 2000;
}

section{
	width: 100%;
	padding: 20px 0px ;
	
}


.work-pic{
	max-width: 1000px;
	margin:auto;
}


.work-mov{
	position:relative;
	margin:auto;
	padding:0 0 0 0 ;
}


article{
	position: relative;
	width:80%;
	margin:auto;
}

.introtext {
	padding:20px;
}

.introtext h1{
	font-weight:600;
	font-size:15px;
	line-height:2em;
	color:#7A7A7A;
}


.introtext h2{
	font-weight:400;
	font-size:13px;
	line-height:2em;
	color:#7A7A7A;
}

.introtext h2{
	font-weight:100;
	font-size:11px;
	line-height:2em;
	color:#868686;
}

.introtext p{
	font-weight:lighter;
	font-size:12px;
	line-height:1.8em;
	text-align: justify; /*左右對齊*/
	color:#868686;
}

.exhibitionimg{
	display:block;
	width:100%;
}

articlenext{
	display:inline-block;
	position:right;
}


/*===============rwd details===============*/

/* For tablets */

@media only screen and (min-width: 768px) {
	
	body{
	background: #FFFFFF;}
	
	
	
	section{
	float: right;
	width: 90%;
	padding: 50px 0px;
	
}
	
	
}
