@charset "UTF-8";
/* CSS Document */

@import url("rwd.css");


*{
	padding:0;
	margin:0;
}

.work{
	position: fixed;
	top: 160px;
	left: 10px;
	z-index: 2000;
}


section{
	position: relative;
	width: 100%;
	padding: 0px 10px 0px 30px;
	
}


.box{
	position: relative;
}

.box h1{
	font-weight:500;
	font-size:12px;
	line-height:3em;
	color:#7A7A7A;
}


.box p{
	font-weight:lighter;
	font-size:12px;
	line-height:1.0em;
	text-align: justify; /*左右對齊*/
	color:#868686;
}


/*w1*/
.work_c{
	background: url("../images/Cultivating_p0.jpg") no-repeat;
	width: 300px;
	height: 170px;
	background-size: 200%;
}

.work_c:hover{
	background: url("../images/Cultivating_p0.jpg")no-repeat;
	background-size: 200%;
	background-position: 100% 0px;
}


/*w2*/
.work_w{
	background: url("../images/walking_p0.png") no-repeat;
	width: 300px;
	height: 170px;
	background-size: 200%;
}

.work_w:hover{
	background: url("../images/walking_p0.pngg")  no-repeat;
	background-size: 200%;
	background-position: 100% 0px;
}


/*w3*/
.work_b{
	background: url("../images/building_p0.png")no-repeat;
	width: 300px;
	height: 170px;
	background-size: 200%;
}

.work_b:hover{
	background: url("../images/building_p0.png")no-repeat;
	background-size: 200%;
	background-position: 100% 0px;
}


/*w4*/
.work_m{
	background: url("../images/mur_p0.png") no-repeat;
	width: 300px;
	height: 170px;
	background-size: 200%;
}

.work_m:hover{
	background: url("../images/mur_p0.png")no-repeat;
	background-size: 200%;
	background-position: 100% 0px;
}




/*--------------------RWD-----------------------*/



/*中尺寸的欄位*/
@media only screen and (max-width: 1023px) and (min-width: 700px){	
	section{
	position: relative;
	width: 100%;
	padding: 0px 10px 0px 60px;
	}
}




/*最大尺寸的欄位*/
@media only screen and (min-width: 1024px){
	section{
	position: relative;
	width: 100%;
	padding: 0px 10px 0px 70px;
	}	
}



