@charset "UTF-8";
/* CSS Document */

@import url("rwd.css");

*{
	padding:0;
	margin:0;
}


.work{
	position: fixed;
	top: 160px;
	left: 10px;
	z-index: 2000;
}

section{
	padding: 0px 100px ;
}

article{
	margin:auto;
}



.about_text h3{
	font-weight:500;
	font-size:16px;
	line-height:2em;
	color:#7A7A7A;
}

.about_text h4{
	font-weight:400;
	font-size:14px;
	line-height:1.8em;
}

.about_text p{
	font-weight:lighter;
	font-size:14px;
	line-height:1.8em;
	text-align: justify; /*左右對齊*/
	color:#868686;
}
