@charset "UTF-8";
/* CSS Document */
/*====rwd details=====*/

*{
	box-sizing: border-box;
}
/*＊代表所有選擇器都套用其中樣式*/
/*利用box-sizing的方式，將值設定為border-box，則每個區塊將不受內容及其padding值而影響寬度，導致變形*/

.row: after {
	content: "";
	clear: both;
	display: block;
}/*每個設有col-的區塊皆為浮動，為確保row之後的區塊可以正常顯示，需使用:after選擇器設定解除浮動關係*/


/*For phone，最優先的*/
[class*="col-"] {
	float: left;
	padding: 2px;
}


/*For desktops*//*最大尺寸的欄位 三欄*/
@media only screen and (min-width: 1024px){	
	.col-b-1 {width: 8.33%}
	.col-b-2 {width: 16.66%}
	.col-b-3 {width: 25%}
	.col-b-4 {width: 33.33%}
	.col-b-5 {width: 41.66%}
	.col-b-6 {width: 50%}
	.col-b-7 {width: 58.33%}
	.col-b-8 {width: 66.66%}
	.col-b-9 {width: 75%}
	.col-b-10 {width: 83.33%}
	.col-b-11 {width: 91.66%}
	.col-b-12 {width: 100%}
}



/*For tables*//*中尺寸的欄位 二欄*/
@media only screen and (max-width: 1023px) and (min-width: 700px){	
	.col-m-1 {width: 8.33%}
	.col-m-2 {width: 16.66%}
	.col-m-3 {width: 25%}
	.col-m-4 {width: 33.33%}
	.col-m-5 {width: 41.66%}
	.col-m-6 {width: 50%}
	.col-m-7 {width: 58.33%}
	.col-m-8 {width: 66.66%}
	.col-m-9 {width: 75%}
	.col-m-10 {width: 83.33%}
	.col-m-11 {width: 91.66%}
	.col-m-12 {width: 100%}
}


/*For phone*//*最小尺寸的欄位 一欄*/
@media only screen and (max-width: 700px){
	.col-1 {width: 8.33%}
	.col-2 {width: 16.66%}
	.col-3 {width: 25%}
	.col-4 {width: 33.33%}
	.col-5 {width: 41.66%}
	.col-6 {width: 50%}
	.col-7 {width: 58.33%}
	.col-8 {width: 66.66%}
	.col-9 {width: 75%}
	.col-10 {width: 83.33%}
	.col-11 {width: 91.66%}
	.col-12 {width: 100%}
}

/*以最下面為標準（上面的會被下面的蓋掉）*/
